<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
	  <class name="tests.LoginTest"/>
	  <class name="tests.TopMenuBarTest"/>
	  <class name="tests.ProfileDDMenuTest"/>
	  <class name="tests.Template1Test"/>
      <class name="tests.Template2Test"/>
      <class name="tests.Template3Test"/>
      <class name="tests.TemplatesTest"/>
      <class name="tests.End2EndTest"/>    
    </classes>
    <!--<packages>
		<package name="tests"/>
	</packages>-->
  </test> <!-- Test -->
</suite> <!-- Suite -->
